@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$image-border-color: rgb(32, 118, 189);
$span-name-color: rgb(32, 118, 189);
$primary-color: rgb(32, 118, 189);
$secondary-color: rgb(156, 56, 56);
// $image-border: 10px outset grey;
$image-border: 6px inset rgb(147, 166, 175);
$style-font: 'Raleway', sans-serif;
$regular-font: Arial, Helvetica, sans-serif;

html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: rgb(32, 32, 32);
}

body {
  overflow: overlay;
}

a {
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 1);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

@mixin display-flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  // border: 1px solid red;
}

.container2 {
  display: flex;
}

.empty-container {
  // background-color: rgb(32, 32, 32);
  height: 100vh;
  width: 50vw;
  padding: 0;
  margin: 0;
  position: relative;
}

.right-side {
}

.solar-system-container {
  z-index: 1;
  padding: 0;
  margin: 0;
  position: fixed;
  height: 100vh;
  width: 50vw;
  background-image: url('./images/stars.png');
  background-color: rgb(8, 8, 8);

  .cog {
    cursor: pointer;
    position: absolute;
    // background-color: rgba(0, 0, 0, 0.85);
    border-radius: 4px;
    margin: 0 12px;
    top: 20px;
    height: 30px;
    width: 30px;
    z-index: 4;
  }

  .cog-overlay {
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin: 0 12px;
    top: 20px;
    height: 30px;
    width: 30px;
    pointer-events: none;
    z-index: 5;
  }

  .settings-container {
    position: absolute;
    padding-right: 100px;
    margin-left: 60px;
    top: 0;
    left: 0;
    height: 70px;
    // width: 13vw;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    opacity: 0.6;
    border-radius: 0 3px 3px 0px;
    z-index: 3;
    // background-color: lighten($primary-color, 50%);
    // border: 3px solid $secondary-color;
    // box-shadow: 0 0 10px 1px $primary-color;
  }

  .settings-container.hideSettings {
    transform: translateX(-120%);
  }

  .settings {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .btn2 {
      position: relative;
      color: #999;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 10px 20px;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
      letter-spacing: 2px;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;

      // &:hover {
      //   color: white;
      // }
    }

    .pressed {
      // border: none;
      background: rgba(0, 0, 0, 0.4);
      background: #fff;
      padding: 15px 20px;
      color: #1b1b1b;
    }
  }
}

.legend-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1em;
  left: 1em;
  border-radius: 3px;
  width: 25vw;
  height: 25vh;
  background-color: lighten($primary-color, 50%);
  box-shadow: 0 0 10px 1px $primary-color;
  border: 4px solid $secondary-color;
  opacity: 0.8;
  z-index: 2;
  list-style-position: inside;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;

  ul {
    padding-left: 0.5em;
    list-style-type: square;
  }

  h4 {
    padding-top: 1em;
  }
}

.legend-container.hideLegend {
  transform: translateY(110%);
}

.info-display-container {
  // z-index: 2;
  font-family: $style-font;
  // background-color: rgb(32, 32, 32);
  background-image: linear-gradient(
    to bottom right,
    rgb(32, 32, 32),
    darken($primary-color, 20%),
    rgb(32, 32, 32)
  );
  // background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  width: 50vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  color: white;

  h1 {
    margin: 1.5em 1em 1em 1em;
    font-size: 2.5em;
    color: whitesmoke;
    text-shadow: 2px 2px 35px rgb(44, 111, 236);
  }

  h2 {
    margin: 1.1em;
  }

  img {
    height: 400px;
    width: 400px;
  }

  p {
    font-family: $regular-font;
  }

  li {
    font-family: $regular-font;
  }
}

.scroll-bar {
  position: absolute;
  // background-color: rgb(202, 202, 202);
  // background-color: rgb(32, 32, 32);
  background-image: linear-gradient(
    to right,
    rgba(32, 32, 32, 0),
    rgba(32, 32, 32, 1)
  );
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  width: 50vw;
  top: 10px;
  right: 0;
  z-index: 1;

  p {
    margin-right: 26px;
    // color: rgb(236, 235, 235);
    color: lighten($primary-color, 40%);
    font-weight: bold;
  }
}

.navLinks {
  position: fixed;
  right: 0;
  top: 6vh;
  height: 250px;
  margin-right: 10px;
  // height: 54px;
  // width: 15vw;
  width: 60px;
  z-index: 1;

  ul {
    height: 100%;
    width: 100%;
    list-style-type: none;
    @include display-flex-center-center();
    flex-direction: column;

    li {
      @include display-flex-center-center();
      height: 100%;
      width: 100%;
      a {
        @include display-flex-center-center();
        text-decoration: none;
        // font-weight: bold;
        font-family: $style-font;
        color: white;
        height: 100%;
        width: 100%;
        border-radius: 3px;

        &:hover {
          background-color: rgb(255, 255, 255);
          color: black;
        }
      }
    }

    .login a {
      background-color: rgb(100, 25, 25);
      &:hover {
        background-color: $primary-color;
      }
    }
  }
}

.hamburger-container {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 25px;
  right: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  pointer-events: none;
  visibility: hidden;

  .line {
    width: 100%;
    height: 4px;
    border-radius: 20px;
    background-color: lightgray;
  }
}

.space-images-container {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  // flex-wrap: wrap;
  // border: 3px solid $image-border-color;
  // border: $image-border;
  // border: 5px solid black;
  box-shadow: 2px 2px 15px 10px black;
  height: auto;
  width: 500px;
  border-radius: 10px;
  // background-color: rgb(255, 228, 76);
  background-color: white;
  // background-color: purple;

  img {
    // margin: 0.5em;
    height: 100px;
    width: 100px;

    transition: all 1s ease-out;

    &:hover {
      // opacity: 0.75;
      // box-shadow: 0px 0px 60px 1px rgb(195, 175, 62);
      // z-index: 2;
      // border-radius: 6px;
    }
  }
}

.planet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0 2em 0;

  p {
    line-height: 1.5em;
    margin-top: 3em;
    width: 40vw;

    span {
      font-size: 2em;
      font-weight: bold;
      color: $primary-color;
    }
  }
}

.data-and-image-container {
  // border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45vw;
  // height: 100%;

  p {
    margin: 1em;
  }

  img {
    // border: 10px outset darken($image-border-color, 10%);
    // border: $image-border;
    // box-shadow: 2px 2px 30px 6px rgba(44, 111, 236, 0.356);
    box-shadow: 2px 2px 30px 6px lighten($primary-color, 20%);
    // object-fit: contain;
    margin: 0 1vw;
    border-radius: 10px;
    height: 15vw;
    width: 15vw;
  }
}

.data-container {
  // border: 1px solid blue;
  height: 300px;
  width: 20vw;
  margin: 0 1vw;
  /* display: flex;
  justify-content: center;
  align-items: center; */

  ul {
    list-style-type: none;

    li {
      margin: 1em;
    }
  }

  span {
    // color: lighten($span-name-color, 20%);
    color: rgb(255, 40, 68);
    // font-weight: bold;
  }
}

.auth-container {
  z-index: 3;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth {
  border: 1px solid rgb(27, 27, 27);
  background-color: rgb(114, 130, 155);
  box-shadow: 2px 2px 20px 2px rgb(95, 115, 151);
  // opacity: 0.9;
  color: rgb(234, 241, 255);
  border-radius: 5px;
  max-width: 400px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  // border: 1px solid lightgray;
  border-radius: 5px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card-close-btn {
    position: absolute;
    margin: 6px;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: $secondary-color;
    color: white;
    cursor: pointer;
    font-size: 20px;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .card-body {
    width: 100%;

    h2 {
      text-align: center;
      margin-top: 20px;
      font-family: $style-font;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 10px;
      width: auto;

      .form-group {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        width: 100%;

        .form-label {
          margin: 5px 0;
          font-family: $style-font;
          // font-weight: bold;
        }

        .form-control {
          padding: 0 2px;
          line-height: 2em;
          width: 100%;
          // border: 1px solid lightgray;
          border-radius: 4px;
          box-sizing: border-box;

          &:focus {
            outline: none;
          }
        }
      }

      button {
        cursor: pointer;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        color: whitesmoke;
        background-color: $primary-color;
      }
    }
  }
}

.forgot-password-link {
  display: flex;
  text-align: center;
  justify-content: center;
}

.login-link {
  display: flex;
  text-align: center;
  justify-content: center;
}

.quiz-container {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;

  h1 {
    margin: 2em 0;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10em 0;
  }
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    list-style-type: none;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10em 0;

  .about-text {
    line-height: 1.5em;
    margin: 2em;
    width: 40vw;
  }
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-in;
}

.content-wrap {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
}

.footer-container {
  // background-color: rgb(35, 104, 94);
  position: relative;
  bottom: 0;
  // margin-top: 1em;
  background-color: darken($primary-color, 20%);
  color: white;
  height: 100px;
  width: 50vw;
  @include display-flex-center-center();

  p {
    @include display-flex-center-center();
  }
}

.solar-system {
  box-shadow: 0px 0px 10px 10px rgb(8, 8, 8);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.solar-system {
  .span-container {
    position: absolute;
    top: 1.5vw;
    display: flex;
    width: 10vw;
    // border: 1px solid yellow;
    justify-content: center;
    align-items: center;

    span {
      position: relative;
      margin: 0 5px;
      color: red;
    }
    .planet-span-name {
      // top: 1.5vw;
      // right: 1.5vw;
    }
    .planet-span-day {
      color: greenyellow;
      font-size: 0.8em;
    }
  }
}

.hide-names {
  .solar-system {
    .planet-span-name {
      visibility: hidden;
    }
  }
}

.hide-days {
  .solar-system {
    .planet-span-day {
      visibility: hidden;
    }
  }
}

.orbit {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
}

.neptune {
  // position: relative;
  height: 45vw;
  width: 45vw;
  @include display-flex-center-center();
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-neptune {
  position: absolute;
  background-color: rgb(103, 185, 200);
  border-radius: 50%;
  width: 3%;
  height: 3%;
  animation: neptuneOrbit 6019s linear infinite;
  @include display-flex-center-center();
  border: 1px solid rgba(233, 233, 114, 0);
}

.uranus {
  height: 40vw;
  width: 40vw;
  @include display-flex-center-center();
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-uranus {
  position: absolute;
  background-color: rgb(123, 153, 133);
  border-radius: 50%;
  width: 4%;
  height: 4%;
  animation: uranusOrbit 3068.7s linear infinite;
  @include display-flex-center-center();
  border: 1px solid rgba(233, 233, 114, 0);
}

.saturn {
  height: 35vw;
  width: 35vw;
  @include display-flex-center-center();
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-saturn {
  position: absolute;
  background-color: rgb(146, 98, 44);
  border-radius: 50%;
  width: 5%;
  height: 5%;
  @include display-flex-center-center();
  animation: saturnOrbit 1075.9s linear infinite;
  border: 1px solid rgba(233, 233, 114, 0);

  .span-container {
    top: 2vw;
  }
}

.jupiter {
  height: 30vw;
  width: 30vw;
  @include display-flex-center-center();
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-jupiter {
  position: absolute;
  background-color: rgb(185, 122, 50);
  border-radius: 50%;
  width: 8%;
  height: 8%;
  @include display-flex-center-center();
  animation: jupiterOrbit 433.3s linear infinite;
  border: 1px solid rgba(233, 233, 114, 0);

  .span-container {
    top: 2.7vw;
  }
}

.mars {
  height: 20vw;
  width: 20vw;
  @include display-flex-center-center();
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-mars {
  position: absolute;
  background-color: rgb(163, 40, 10);
  border-radius: 50%;
  width: 4%;
  height: 4%;
  @include display-flex-center-center();
  animation: marsOrbit 68.7s linear infinite;
  border: 1px solid rgba(233, 233, 114, 0);
}

.earth {
  height: 16vw;
  width: 16vw;
  @include display-flex-center-center();
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-earth {
  position: absolute;
  background-color: rgb(54, 113, 180);
  border-radius: 50%;
  width: 5%;
  height: 5%;
  @include display-flex-center-center();
  animation: earthOrbit 36.5s linear infinite;
  border: 1px solid rgba(233, 233, 114, 0);
}

.venus {
  height: 12vw;
  width: 12vw;
  @include display-flex-center-center();
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-venus {
  position: absolute;
  background-color: rgb(88, 61, 30);
  border-radius: 50%;
  width: 5%;
  height: 5%;
  @include display-flex-center-center();
  animation: venusOrbit 22.5s linear infinite;
  border: 1px solid rgba(233, 233, 114, 0);
}

.mercury {
  height: 9vw;
  width: 9vw;
  @include display-flex-center-center();
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-mercury {
  position: absolute;
  background-color: rgb(119, 108, 105);
  border-radius: 50%;
  width: 3%;
  height: 3%;
  @include display-flex-center-center();
  animation: mercuryOrbit 8.8s linear infinite;
  border: 1px solid rgba(233, 233, 114, 0);
}

.sun {
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  background-color: yellow;
  box-shadow: 0px 0px 20px yellow;
  z-index: 2;
  // border: 1px solid rgba(233, 233, 114, 0);
}

// Orbit Animations

@keyframes neptuneOrbit {
  from {
    transform: rotate(0deg) translateX(22.5vw) rotate(360deg);
  }

  to {
    transform: rotate(360deg) translateX(22.5vw) rotate(0deg);
  }
}

@keyframes uranusOrbit {
  from {
    transform: rotate(0deg) translateX(20vw) rotate(360deg);
  }

  to {
    transform: rotate(360deg) translateX(20vw) rotate(0deg);
  }
}

@keyframes saturnOrbit {
  from {
    transform: rotate(0deg) translateX(17.5vw) rotate(360deg);
  }

  to {
    transform: rotate(360deg) translateX(17.5vw) rotate(0deg);
  }
}

@keyframes jupiterOrbit {
  from {
    transform: rotate(0deg) translateX(15vw) rotate(360deg);
  }

  to {
    transform: rotate(360deg) translateX(15vw) rotate(0deg);
  }
}

@keyframes marsOrbit {
  from {
    transform: rotate(0deg) translateX(10vw) rotate(360deg);
  }

  to {
    transform: rotate(360deg) translateX(10vw) rotate(0deg);
  }
}

@keyframes earthOrbit {
  from {
    transform: rotate(0deg) translateX(8vw) rotate(360deg);
  }

  to {
    transform: rotate(360deg) translateX(8vw) rotate(0deg);
  }
}

@keyframes venusOrbit {
  from {
    transform: rotate(0deg) translateX(6vw) rotate(360deg);
  }

  to {
    transform: rotate(360deg) translateX(6vw) rotate(0deg);
  }
}

@keyframes mercuryOrbit {
  from {
    transform: rotate(0deg) translateX(4.5vw) rotate(360deg);
  }

  to {
    transform: rotate(360deg) translateX(4.5vw) rotate(0deg);
  }
}

@media (max-width: 1250px) {
  .space-images-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 250px;
    max-width: auto;
    min-width: auto;
    border-radius: 5px;

    img {
      margin: 0;
      height: 50px;
      width: 50px;
    }
  }

  .data-and-image-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .data-container {
    margin-top: 3vw;
    width: 40vw;
    height: 200px;

    ul {
      li {
        margin: 0;
      }
    }
  }
}

@media (max-width: 800px) {
  .container2 {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    overflow: hidden;
  }

  .hamburger-container {
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-nav-links {
    z-index: 5;
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgb(70, 69, 69);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .close-mobile-nav-links {
      height: 30px;
      width: 35px;
      position: fixed;
      top: 10px;
      right: 35px;

      a {
        text-decoration: none;
        color: white;
        font-size: 40px;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style-type: none;

      li {
        display: flex;
        margin: 20px;
        justify-content: center;
        align-items: center;

        a {
          text-decoration: none;
          color: white;
          font-size: 40px;
        }
      }
    }
  }

  .empty-container {
    height: 0;
    width: 0;
  }
  .solar-system-container {
    position: relative;
    height: 100vw;
    width: 100%;
    overflow: hidden;

    .cog {
      top: 25px;
    }

    .settings-container {
      .settings {
        button {
          // height: 50px;
          // width: 60px;
          font-size: 9px;
          // margin: 0 3px;
          padding-right: 10px;
          padding-left: 10px;
        }
      }
    }
  }
  .navLinks {
    visibility: hidden;
  }
  .info-display-container {
    background-color: rgb(32, 32, 32);
    height: auto;
    width: 100%;
    overflow: hidden;

    .scroll-bar {
      width: 100vw;

      p {
        margin-left: 10px;
      }
    }

    .data-container {
      width: 60vw;
    }

    p {
      width: 80vw;
    }
  }
  .data-and-image-container {
    img {
      height: 30vw;
      width: 30vw;
      margin: 0 2vw;
    }
  }
  .quiz-container {
    width: 80vw;
  }
  .mercury {
    height: 18vw;
    width: 18vw;
    @include display-flex-center-center();
  }
  .venus {
    height: 24vw;
    width: 24vw;
    @include display-flex-center-center();
  }
  .earth {
    height: 32vw;
    width: 32vw;
    @include display-flex-center-center();
  }
  .mars {
    height: 40vw;
    width: 40vw;
    @include display-flex-center-center();
  }
  .jupiter {
    height: 60vw;
    width: 60vw;
    @include display-flex-center-center();
  }
  .saturn {
    height: 70vw;
    width: 70vw;
    @include display-flex-center-center();
  }
  .uranus {
    height: 80vw;
    width: 80vw;
    @include display-flex-center-center();
  }
  .neptune {
    height: 90vw;
    width: 90vw;
    @include display-flex-center-center();
  }
  @keyframes neptuneOrbit {
    from {
      transform: rotate(0deg) translateX(45vw) rotate(360deg);
    }

    to {
      transform: rotate(360deg) translateX(45vw) rotate(0deg);
    }
  }
  @keyframes uranusOrbit {
    from {
      transform: rotate(0deg) translateX(40vw) rotate(360deg);
    }

    to {
      transform: rotate(360deg) translateX(40vw) rotate(0deg);
    }
  }
  @keyframes saturnOrbit {
    from {
      transform: rotate(0deg) translateX(35vw) rotate(360deg);
    }

    to {
      transform: rotate(360deg) translateX(35vw) rotate(0deg);
    }
  }
  @keyframes jupiterOrbit {
    from {
      transform: rotate(0deg) translateX(30vw) rotate(360deg);
    }

    to {
      transform: rotate(360deg) translateX(30vw) rotate(0deg);
    }
  }
  @keyframes marsOrbit {
    from {
      transform: rotate(0deg) translateX(20vw) rotate(360deg);
    }

    to {
      transform: rotate(360deg) translateX(20vw) rotate(0deg);
    }
  }
  @keyframes earthOrbit {
    from {
      transform: rotate(0deg) translateX(16vw) rotate(360deg);
    }

    to {
      transform: rotate(360deg) translateX(16vw) rotate(0deg);
    }
  }
  @keyframes venusOrbit {
    from {
      transform: rotate(0deg) translateX(12vw) rotate(360deg);
    }

    to {
      transform: rotate(360deg) translateX(12vw) rotate(0deg);
    }
  }
  @keyframes mercuryOrbit {
    from {
      transform: rotate(0deg) translateX(9vw) rotate(360deg);
    }

    to {
      transform: rotate(360deg) translateX(9vw) rotate(0deg);
    }
  }
}
