@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Cormorant+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Georama:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #202020;
}

body {
  overflow: overlay;
}

a {
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5a5a5a;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.container2 {
  display: flex;
}

.empty-container {
  height: 100vh;
  width: 50vw;
  padding: 0;
  margin: 0;
  position: relative;
}

.solar-system-container {
  padding: 0;
  margin: 0;
  position: fixed;
  height: 100vh;
  width: 50vw;
  background-image: url("./images/stars.png");
  background-color: #080808;
}

.solar-system-container .cog {
  cursor: pointer;
  position: absolute;
  border-radius: 4px;
  margin: 0 12px;
  top: 20px;
  height: 30px;
  width: 30px;
  z-index: 4;
}

.solar-system-container .cog-overlay {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 0 12px;
  top: 20px;
  height: 30px;
  width: 30px;
  pointer-events: none;
  z-index: 5;
}

.solar-system-container .settings-container {
  position: absolute;
  background-color: #9c3838;
  margin-left: 60px;
  top: 0;
  left: 0;
  height: 70px;
  width: 13vw;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
  opacity: 0.6;
  border-radius: 0 3px 3px 0px;
  z-index: 3;
  background-color: #e2effa;
  border: 3px solid #9c3838;
  box-shadow: 0 0 10px 1px #2076bd;
}

.solar-system-container .settings-container.hideSettings {
  transform: translateY(-110%);
}

.solar-system-container .settings {
  color: white;
}

.solar-system-container .settings button {
  cursor: pointer;
  width: 70px;
  margin: 0 3px;
  padding: 10px;
  border-radius: 8px;
  background-color: #e2effa;
}

.solar-system-container .settings .pressed {
  background-color: #2076bd;
  color: white;
}

.legend-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1em;
  left: 1em;
  border-radius: 3px;
  width: 25vw;
  height: 25vh;
  background-color: #e2effa;
  box-shadow: 0 0 10px 1px #2076bd;
  border: 4px solid #9c3838;
  opacity: 0.8;
  z-index: 2;
  list-style-position: inside;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.legend-container ul {
  padding-left: 0.5em;
  list-style-type: square;
}

.legend-container h4 {
  padding-top: 1em;
}

.legend-container.hideLegend {
  transform: translateY(110%);
}

.info-display-container {
  font-family: "Raleway", sans-serif;
  background-color: #202020;
  width: 50vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  color: white;
}

.info-display-container h1 {
  margin: 1.5em 1em 1em 1em;
  font-size: 2.5em;
  color: whitesmoke;
  text-shadow: 2px 2px 35px #2c6fec;
}

.info-display-container h2 {
  margin: 1.1em;
}

.info-display-container img {
  height: 400px;
  width: 400px;
}

.info-display-container p {
  font-family: Arial, Helvetica, sans-serif;
}

.info-display-container li {
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-bar {
  position: absolute;
  background-color: #114066;
  display: flex;
  align-items: center;
  height: 40px;
  width: 50vw;
  top: 0;
  right: 0;
  z-index: 1;
}

.scroll-bar p {
  margin-left: 40px;
}

.navLinks {
  position: fixed;
  right: 0;
  top: 6vh;
  height: 250px;
  margin-right: 10px;
  width: 60px;
  z-index: 1;
}

.navLinks ul {
  height: 100%;
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navLinks ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navLinks ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: white;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.navLinks ul li a:hover {
  background-color: white;
  color: black;
}

.navLinks ul .login a {
  background-color: #641919;
}

.navLinks ul .login a:hover {
  background-color: #2076bd;
}

.hamburger-container {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 25px;
  right: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  pointer-events: none;
  visibility: hidden;
}

.hamburger-container .line {
  width: 100%;
  height: 4px;
  border-radius: 20px;
  background-color: lightgray;
}

.space-images-container {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  box-shadow: 2px 2px 15px 10px black;
  height: auto;
  width: 500px;
  border-radius: 10px;
  background-color: white;
}

.space-images-container img {
  height: 100px;
  width: 100px;
  transition: all 1s ease-out;
}

.planet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0 2em 0;
}

.planet-container p {
  line-height: 1.5em;
  margin-top: 3em;
  width: 40vw;
}

.planet-container p span {
  font-size: 2em;
  font-weight: bold;
  color: #2076bd;
}

.data-and-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45vw;
}

.data-and-image-container p {
  margin: 1em;
}

.data-and-image-container img {
  box-shadow: 2px 2px 30px 6px rgba(44, 111, 236, 0.356);
  margin: 0 1vw;
  border-radius: 10px;
  height: 15vw;
  width: 15vw;
}

.data-container {
  height: 300px;
  width: 20vw;
  margin: 0 1vw;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.data-container ul {
  list-style-type: none;
}

.data-container ul li {
  margin: 1em;
}

.data-container span {
  color: #ff2844;
}

.auth-container {
  z-index: 3;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth {
  border: 1px solid #1b1b1b;
  background-color: #72829b;
  box-shadow: 2px 2px 20px 2px #5f7397;
  color: #eaf1ff;
  border-radius: 5px;
  max-width: 400px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  border-radius: 5px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .card-close-btn {
  position: absolute;
  margin: 6px;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #9c3838;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.card .card-close-btn a {
  text-decoration: none;
  color: white;
}

.card .card-body {
  width: 100%;
}

.card .card-body h2 {
  text-align: center;
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
}

.card .card-body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  width: auto;
}

.card .card-body form .form-group {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  width: 100%;
}

.card .card-body form .form-group .form-label {
  margin: 5px 0;
  font-family: "Raleway", sans-serif;
}

.card .card-body form .form-group .form-control {
  padding: 0 2px;
  line-height: 2em;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
}

.card .card-body form .form-group .form-control:focus {
  outline: none;
}

.card .card-body form button {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  color: whitesmoke;
  background-color: #2076bd;
}

.forgot-password-link {
  display: flex;
  text-align: center;
  justify-content: center;
}

.login-link {
  display: flex;
  text-align: center;
  justify-content: center;
}

.quiz-container {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.quiz-container h1 {
  margin: 2em 0;
}

.quiz-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10em 0;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-container ul {
  list-style-type: none;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10em 0;
}

.about-container .about-text {
  line-height: 1.5em;
  margin: 2em;
  width: 40vw;
}

.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-in;
}

.content-wrap {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container {
  position: relative;
  bottom: 0;
  background-color: #114066;
  color: white;
  height: 100px;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.solar-system {
  box-shadow: 0px 0px 10px 10px #080808;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.solar-system .span-container {
  position: absolute;
  top: 1.5vw;
  display: flex;
  width: 10vw;
  justify-content: center;
  align-items: center;
}

.solar-system .span-container span {
  position: relative;
  margin: 0 5px;
  color: red;
}

.solar-system .span-container .planet-span-day {
  color: greenyellow;
  font-size: 0.8em;
}

.hide-names .solar-system .planet-span-name {
  visibility: hidden;
}

.hide-days .solar-system .planet-span-day {
  visibility: hidden;
}

.orbit {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
}

.neptune {
  height: 45vw;
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-neptune {
  position: absolute;
  background-color: #67b9c8;
  border-radius: 50%;
  width: 3%;
  height: 3%;
  animation: neptuneOrbit 6019s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(233, 233, 114, 0);
}

.uranus {
  height: 40vw;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-uranus {
  position: absolute;
  background-color: #7b9985;
  border-radius: 50%;
  width: 4%;
  height: 4%;
  animation: uranusOrbit 3068.7s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(233, 233, 114, 0);
}

.saturn {
  height: 35vw;
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-saturn {
  position: absolute;
  background-color: #92622c;
  border-radius: 50%;
  width: 5%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: saturnOrbit 1075.9s linear infinite;
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-saturn .span-container {
  top: 2vw;
}

.jupiter {
  height: 30vw;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-jupiter {
  position: absolute;
  background-color: #b97a32;
  border-radius: 50%;
  width: 8%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: jupiterOrbit 433.3s linear infinite;
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-jupiter .span-container {
  top: 2.7vw;
}

.mars {
  height: 20vw;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-mars {
  position: absolute;
  background-color: #a3280a;
  border-radius: 50%;
  width: 4%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: marsOrbit 68.7s linear infinite;
  border: 1px solid rgba(233, 233, 114, 0);
}

.earth {
  height: 16vw;
  width: 16vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-earth {
  position: absolute;
  background-color: #3671b4;
  border-radius: 50%;
  width: 5%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: earthOrbit 36.5s linear infinite;
  border: 1px solid rgba(233, 233, 114, 0);
}

.venus {
  height: 12vw;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-venus {
  position: absolute;
  background-color: #583d1e;
  border-radius: 50%;
  width: 5%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: venusOrbit 22.5s linear infinite;
  border: 1px solid rgba(233, 233, 114, 0);
}

.mercury {
  height: 9vw;
  width: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(233, 233, 114, 0);
}

.planet-mercury {
  position: absolute;
  background-color: #776c69;
  border-radius: 50%;
  width: 3%;
  height: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: mercuryOrbit 8.8s linear infinite;
  border: 1px solid rgba(233, 233, 114, 0);
}

.sun {
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  background-color: yellow;
  box-shadow: 0px 0px 20px yellow;
  z-index: 2;
}

@keyframes neptuneOrbit {
  from {
    transform: rotate(0deg) translateX(22.5vw) rotate(360deg);
  }
  to {
    transform: rotate(360deg) translateX(22.5vw) rotate(0deg);
  }
}

@keyframes uranusOrbit {
  from {
    transform: rotate(0deg) translateX(20vw) rotate(360deg);
  }
  to {
    transform: rotate(360deg) translateX(20vw) rotate(0deg);
  }
}

@keyframes saturnOrbit {
  from {
    transform: rotate(0deg) translateX(17.5vw) rotate(360deg);
  }
  to {
    transform: rotate(360deg) translateX(17.5vw) rotate(0deg);
  }
}

@keyframes jupiterOrbit {
  from {
    transform: rotate(0deg) translateX(15vw) rotate(360deg);
  }
  to {
    transform: rotate(360deg) translateX(15vw) rotate(0deg);
  }
}

@keyframes marsOrbit {
  from {
    transform: rotate(0deg) translateX(10vw) rotate(360deg);
  }
  to {
    transform: rotate(360deg) translateX(10vw) rotate(0deg);
  }
}

@keyframes earthOrbit {
  from {
    transform: rotate(0deg) translateX(8vw) rotate(360deg);
  }
  to {
    transform: rotate(360deg) translateX(8vw) rotate(0deg);
  }
}

@keyframes venusOrbit {
  from {
    transform: rotate(0deg) translateX(6vw) rotate(360deg);
  }
  to {
    transform: rotate(360deg) translateX(6vw) rotate(0deg);
  }
}

@keyframes mercuryOrbit {
  from {
    transform: rotate(0deg) translateX(4.5vw) rotate(360deg);
  }
  to {
    transform: rotate(360deg) translateX(4.5vw) rotate(0deg);
  }
}

@media (max-width: 1250px) {
  .space-images-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 250px;
    max-width: auto;
    min-width: auto;
    border-radius: 5px;
  }
  .space-images-container img {
    margin: 0;
    height: 50px;
    width: 50px;
  }
  .data-and-image-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .data-container {
    margin-top: 3vw;
    width: 40vw;
    height: 200px;
  }
  .data-container ul li {
    margin: 0;
  }
}

@media (max-width: 800px) {
  .container2 {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    overflow: hidden;
  }
  .hamburger-container {
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-nav-links {
    z-index: 5;
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #464545;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobile-nav-links .close-mobile-nav-links {
    height: 30px;
    width: 35px;
    position: fixed;
    top: 10px;
    right: 35px;
  }
  .mobile-nav-links .close-mobile-nav-links a {
    text-decoration: none;
    color: white;
    font-size: 40px;
  }
  .mobile-nav-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  .mobile-nav-links ul li {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
  }
  .mobile-nav-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 40px;
  }
  .empty-container {
    height: 0;
    width: 0;
  }
  .solar-system-container {
    position: relative;
    height: 100vw;
    width: 100%;
    overflow: hidden;
  }
  .solar-system-container .cog {
    top: 25px;
  }
  .solar-system-container .settings-container {
    width: 70vw;
    height: 80px;
    min-width: 250px;
  }
  .solar-system-container .settings-container .settings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 50px;
  }
  .solar-system-container .settings-container button {
    height: 50px;
    width: 60px;
    font-size: 9px;
    margin: 0 3px;
    padding: 10px;
  }
  .navLinks {
    visibility: hidden;
  }
  .info-display-container {
    background-color: #202020;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .info-display-container .scroll-bar {
    width: 100vw;
  }
  .info-display-container .scroll-bar p {
    margin-left: 10px;
  }
  .info-display-container .data-container {
    width: 60vw;
  }
  .info-display-container p {
    width: 80vw;
  }
  .data-and-image-container img {
    height: 30vw;
    width: 30vw;
    margin: 0 2vw;
  }
  .quiz-container {
    width: 80vw;
  }
  .mercury {
    height: 18vw;
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .venus {
    height: 24vw;
    width: 24vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .earth {
    height: 32vw;
    width: 32vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mars {
    height: 40vw;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .jupiter {
    height: 60vw;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .saturn {
    height: 70vw;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .uranus {
    height: 80vw;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .neptune {
    height: 90vw;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes neptuneOrbit {
    from {
      transform: rotate(0deg) translateX(45vw) rotate(360deg);
    }
    to {
      transform: rotate(360deg) translateX(45vw) rotate(0deg);
    }
  }
  @keyframes uranusOrbit {
    from {
      transform: rotate(0deg) translateX(40vw) rotate(360deg);
    }
    to {
      transform: rotate(360deg) translateX(40vw) rotate(0deg);
    }
  }
  @keyframes saturnOrbit {
    from {
      transform: rotate(0deg) translateX(35vw) rotate(360deg);
    }
    to {
      transform: rotate(360deg) translateX(35vw) rotate(0deg);
    }
  }
  @keyframes jupiterOrbit {
    from {
      transform: rotate(0deg) translateX(30vw) rotate(360deg);
    }
    to {
      transform: rotate(360deg) translateX(30vw) rotate(0deg);
    }
  }
  @keyframes marsOrbit {
    from {
      transform: rotate(0deg) translateX(20vw) rotate(360deg);
    }
    to {
      transform: rotate(360deg) translateX(20vw) rotate(0deg);
    }
  }
  @keyframes earthOrbit {
    from {
      transform: rotate(0deg) translateX(16vw) rotate(360deg);
    }
    to {
      transform: rotate(360deg) translateX(16vw) rotate(0deg);
    }
  }
  @keyframes venusOrbit {
    from {
      transform: rotate(0deg) translateX(12vw) rotate(360deg);
    }
    to {
      transform: rotate(360deg) translateX(12vw) rotate(0deg);
    }
  }
  @keyframes mercuryOrbit {
    from {
      transform: rotate(0deg) translateX(9vw) rotate(360deg);
    }
    to {
      transform: rotate(360deg) translateX(9vw) rotate(0deg);
    }
  }
}
